body {
  margin: 0;
  font-family: 'Helvetica' sans-serif;
  background: #D79CCC;
}
header {
  background: #9D448C;
  margin: 0 auto;
  padding-bottom: 1px;
  color: #ECC9E6;
  text-align: center;
  h1 {
    margin: 0 auto;
    padding: 10px;
  }
  p {
    font-size: 1.2em;
    margin-top: 0;
  }
  nav {
    margin: 20px auto;
    a {
      text-decoration: none;
      padding: 10px 20px;
      // text-transform: uppercase;
      font-weight: lighter;
      color: white;
      &:hover {
        color: #ECC9E6;
      }
    }
  }
}
input.search,
input.pwd,
input.email {
  margin: 50px auto 10px;
  display: block;
  padding: 15px 5px;
  font-size: 1.2em;
  width: 300px;
  border: 1px solid #ECC9E6;
  border-radius: 5px;
  color: #9D448C;
}
input.pwd {
  margin: 15px auto;
}
i.fa-exclamation-circle,
p.errorMsg {
  color: #CB5871;
  position: absolute;
  float: right;
  right: 350px;
  top: 200px;
  display: none;
}
p.errorMsg {
  right: 100px;
  top: 215px;
}
i.searchError,
p.searchError {
  display: inline;
}
button.search {
  margin: 10px auto 50px;
  display: block;
  padding: 10px 5px;
  font-size: 1.2em;
  width: 312px;
  border-radius: 5px;
  border: none;
  background: #9D448C;
  color: #ECC9E6;

}
article.artist {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 50%;
  color: #9D448C;
  background: #ECC9E6;
  border: 1px solid #9D448C;
  border-radius: 5px;
  img {
    display: inline-block;
    margin: 5px auto;
    margin-left: 10%;
    float: left;
    border-radius: 5px;
    width: 150px;
  }
  a.playBtn {
    text-decoration: none;
    background: #9D448C;
    border: 1px solid #ECC9E6;
    border-radius: 5px;
    color: #ECC9E6;
    padding: 5px;
    margin: 20px 10px 10px;
    float: left;
  }
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
article.hide {
  display: none;
}

input.searchError {
  border: 2px solid #CB5871;
  background: #F4B1BF;
}
